<form #feedbackForm="ngForm" (submit)="onSubmit(feedbackForm.value)">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input ngModel name="username" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
  </div>
  <div class="form-group">
    <label for="Feedback">Feedback</label>
    <input ngModel name="feedback" type="text" class="form-control" id="Feedback" placeholder="Put Text Feedback">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>